@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    ViewData["width"] = "110";
    ViewData["height"] = "70";
}


<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <section class="h-100 p-3 bg-light border rounded-3">
            <center>
                <partial name="_FeyaLogo" view-data="ViewData" />
                <h1 class="h3 mb-3 fw-normal">Resend Email Confirmation</h1>
                <hr />
            </center>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" placeholder="e.g david@gmail.com" class="form-control" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
            </form>
        </section>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
