@{
    ViewData["Title"] = "Home Page";
}

@*<style>
    body {
        background-image: linear-gradient(rgb(68 68 68 / 50%), rgb(103 93 120)), url("../../images/FairyBackground.jfif");
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>*@

<div class="p-5 mb-4 rounded-3 text-center text-light">
    <h1 class="display-5">Welcome to the Fairytale!</h1>
   
</div>

<div class="rounded-3 text-center">
    <h5>
    Legend has it that every desire has its own performer they just need to help meet.
<br />
<br />
    On our portal, you can visit the roles of both Cinderella and Fairy, make a wish or fulfill one.
<br />
<br />
    Our goal is to unite people in their desires to give or be gifted.
    </h5>
</div>

<br />
<br />

<div class="callout callout-warning">
    <p>Please visit  <a style="color:#6ea8fe;" href="https://www.cfeya.com/Home/Rules">  Rules & Instrcutions </a> page for information on how to proceed.</p>

</div>

 




