@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    div {
        text-align: justify;
    }

    body {
        background-color: #D9AFD9;
        background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
        color: black
    }
</style>


<center>
    <h1>Our Online Privacy Code</h1>
</center>

<small class="form-text"><b>Effective Date: September 26, 2022</b></small>

<br />
<br />

<div>
    Your privacy is important to us and we value your trust.
    This Online Privacy Code (this <code>"Code"</code>) describes our online privacy practices
    applicable to consumers who visit, use or interact with our online services.
</div>
<br />
<div>
    Our "online services" include:
</div>
<br />
<div>
    Our websites;<br />
    Our mobile applications (<code>"mobile apps,"</code> including those for use on tablets);<br />
    Other online services offered by the subsidiaries of Feya LLC (<code>"Feya"</code>) that link to or reference this Code;<br />
    Our electronic communications (such as email messages) with you; and<br />
    Our digital advertising campaigns.
</div>
<br />
<div>
    This Code explains how we (directly or through our service providers, including our advertising partners):
</div>
<br />
<div>
    Collect, use and share information:<br />
    When you visit, use or interact with us through any of our online services; and<br />
    Through our advertisements (<code>"ads"</code>) displayed via online services operated by us or third parties; and<br />
    May associate this information with other information about you.<br />
    Consent: By visiting or using any of our online services, responding to any electronic communications
    we may send you, or clicking on one of our ads, you agree to this Code.
</div>
<br />
<div>
    Check the Effective Date: This Code may be revised from time to time, so we encourage
    you to periodically check the current version available. If we revise this Code in a
    material way, we will change the "Effective" date shown at the top of this page and
    provide a conspicuous notice on our website before any changes take effect.
</div>
<br />
<div class="callout callout-warning">
    <h4>Important! – Customers: </h4>
    If you are using our service, we will use and share your personal information
    in accordance with the privacy notice that applies to your account. However, this Code may still be useful
    to you in describing our online services, and the options and choices described below are available to you as well.
</div>

<br />
<div>
    <b>What information do we collect?</b>
</div>
<br />
<div>
    <b>Personal information:</b>
</div>
<div>
    We may collect personal information from you through our online services, directly or through
    our service providers. For example, you may provide us with your name, mailing address, phone
    number, email address, account number, date of birth and Social Security number (SSN) when you
    fill out an online form or survey, register, log into or update your account through our online services,
    register for a marketing offer or input financial or other information into one of our mobile apps.
    <br />
    When you obtain one of our products or services online, or register for or use one of our online
    services, and use that information to verify your identity (using information obtained from a
    third party information service).
</div>
<br />
<div>
    <b>Other information: </b>
</div>
<div>
    When you visit or use any of our websites or mobile apps, view any of our electronic
    communications, or interact with one of our targeted ads, we or our service providers
    may collect information from your computer(s) and your smartphone(s), tablet(s) or
    other mobile device(s) (together referred to as <code>"mobile devices"</code>). This information includes:
</div>
<br />
<br />
<div>
    The make and model of the computer(s) or mobile device(s) you use to visit, use, view
    or interact with our online services, unique device identifier, browser version,
    hardware, operating system and MAC address;
</div>
<br />
<div>
    Your mobile phone number, mobile country code and other mobile device-related
    information such as mobile device International Mobile Station Equipment Identity (IMEI),
    Integrated Circuit Card Identifier (ICCID), information about the screen size of your mobile
    device(s) and the date and time of your use (Please refer to your specific app
    for additional, applicable information);
</div>
<br />
<div>
    Your Internet Protocol (IP) address and related information, such as
    your internet service provider and general location;
</div>
<br />
<div>
    The precise location of your mobile device(s), if enabled on your device(s) (for example,
    when you register to receive location-based content, such as the location of the nearest
    TD store, through our mobile apps);
</div>
<br />
<div>
    Photos taken with your mobile device(s) through one of our mobile apps to complete a
    mobile remote check deposit (when enabled in your mobile device settings);
</div>
<br />
<div>
    Your browsing habits on online services provided by us or third parties, such as search
    terms you entered on our websites, what websites and pages you visit, how long you stay
    and what actions you take;
</div>
<br />
<div>
    Search terms that directed you to our websites and mobile apps,
    which websites you came from, and which websites you visit right after leaving one of our websites;
</div>
<br />
<div>
    Which of our ads or other online content you view, access or click on; and
</div>
<br />
<div>
    Any actions you take in response to electronic communications that we send
    to you, such as opening the message or clicking an embedded link.
</div>
<br />
<div>
    Our service providers may also collect information about your browsing
    habits on online services offered by third parties and use it for the purposes described below.
</div>
<br />
<br />
<div>
    <b>Third Party Information:</b>
</div>
<br />
<div>
    We may also collect information about you from additional online and offline
    sources, including our affiliates, credit reporting agencies and other third-party sources as permitted by law.
</div>
<br />
<br />
<div>
    <b>Association of information:</b>
</div>
<br />
<br />
<div>
    We may associate the above information from your computer(s) or mobile device(s) through various means,
    including a unique identifier (such as IP address, customer ID, or visitor ID) by using cookies
    (small data files saved to your browser by websites) and other tracking technologies. When used,
    these unique identifiers enable us to identify you as our customer, track your activity on our
    online services and to associate your computer(s) and mobile device(s) with one another,
    for the purposes described in the following section.
</div>
<br />
<div>
    If you are one of our customers, we may associate the above information with your personal Feya profile
    (contact information, and information about your holdings, transactions, demographics and location)
    and use it for the same purposes.
</div>
<br />
<div>
    <b>
        How do we use your information?
    </b>
</div>
<br />
<div>
    We may use the information discussed above in a number of ways, to:
    <br /><br />
    Deliver products and services to you, which includes:
    <br /><br />
    Recognizing you when you return to our websites or use our mobile apps (and remembering your login user ID);
    <br /><br />
    Verifying your identity;
    <br /><br />
    Processing applications and transactions;
    <br /><br />
    Using the location of your mobile device(s) for location-based services you request;
    <br /><br />
    Managing your preferences (such as your language preference) and providing a more personalized experience;
    <br /><br />
    Facilitating the operation of our websites and mobile apps; and
    <br /><br />
    Providing you with updates on your accounts, products and services;
    <br /><br />
    Advertise and market our products and services, including:
    <br /><br />
    Posting ads through our or third-party websites or mobile apps that may
    be of interest to you (See the Online Advertising section below); and
    <br /><br />
    Contacting you with ads, promotions and offers that may be of interest to you
    (as permitted by law and consistent with any marketing preferences that we offer and you have registered with us);
    <br /><br />
    Prevent and detect fraud and enhance the security of your account and our online services;
    <br /><br />
    Conduct market research, reporting and development, including to better understand our
    customers, website visitors and mobile app users, improve our online services,
    and improve our products and services; and
    <br /><br />
    In other ways as required or permitted by law or with your consent.
    <br /><br />
    Aggregated/anonymized information: We may also aggregate or anonymize information about
    you (so that it does not identify you individually). This aggregate or anonymized information
    is not subject to this Code, and we may use it as permitted by law.

</div>
<br />
<br />
<div>
    <b>How do we share your information?</b>
</div>
<div>
    We may share personal information about you, and information collected from your
    computer(s) and mobile device(s) or received from third parties for everyday business purposes, including with:
    <br /><br />
    Third parties to deliver products or services to you, such as sharing the location and information about your
    mobile device(s) with third party mobile apps when you request directions to one of our stores;
    <br /><br />
    Our service providers for purposes such as servicing accounts, conducting transactions,
    surveys, market research, data analysis, reporting, marketing, development of our products
    and services, enrichment, and as described in our Online Advertising section below;
    <br /><br />
    Our affiliates (i.e., companies related to us by common ownership or control);
    <br /><br />
    Other financial institutions that jointly offer, endorse or sponsor financial products or services with us;
    <br /><br />
    Other individuals or entities, when we believe that disclosure is necessary to detect, prevent or
    report suspicious activities, prevent physical harm, financial loss, or violations of our agreements and policies;
    <br /><br />
    Our affiliates or third parties in connection with a corporate transaction, such as a sale of our businesses;
    <br /><br />
    Regulators and other organizations or individuals who are legally entitled to receive such information; and
    <br /><br />
    For specific products or services, when you have given your consent.
    Aggregated/anonymized information: We may also share aggregated or anonymized information
    (which does not identify you individually) for various business purposes as permitted by law, for example:
    <br /><br />

    Third parties to help develop, market and deliver products and services that are better
    tailored to our customers, website visitors and mobile app users; and
    <br /><br />
    Our advertising partners for online advertising purposes.
    <br /><br />
    Online Advertising
    <br /><br />
    We, as well as our service providers, may advertise our products and services through
    online services offered by us, our affiliates and third parties that are not affiliated with us, including:
    <br /><br />
    Prescreened offers of credit;
    <br /><br />
    Ads based upon your location (e.g., IP address), your computer(s) and mobile device(s),
    your browsing habits on online services offered by us or our affiliates, your relationship
    or transactions with us if you are a customer (e.g., contact information, and your holdings,
    transactions, demographics and location) and other information described above; and
    <br /><br />
    Ads based upon the above information and your browsing habits on online services offered
    by non-affiliated third parties (<b>"online behavioral advertising"</b> or <code>"OBA"</code>).
    <br /><br />

    If you click on one of our ads, a cookie may be stored on your computer or device
    and later used to display tailored ads for our products or services.
    <br /><br />

    OBA Opt-Out: We subscribe to the DAA's Self-Regulatory Principles for Online Behavioral
    Advertising, which promote consumer awareness and choice about how their information is
    used for OBA. We do not respond to "do not track" signals transmitted by web browsers
    or similar mechanisms. However, you may opt out of the use of information about your
    browsing habits for OBA ads through opt-out mechanisms provided through the Digital Advertising Alliance (<code>"DAA"</code>):
    <br /><br />

    Ads based on your web browsing habits: Click the Ad Choices icon on the ad and follow the
    instructions, or visit <a href="http://www.aboutads.info/choices" target="_blank">http://www.aboutads.info/choices</a>; and
    <br /><br />
    Ads based on your app browsing habits: Download the <b>DAA's</b> AppChoices app through the app store
    on your mobile device (as available).
    <br /><br />
    Opting out of OBA ads may not stop advertising from appearing in your browser or apps,
    but it will likely make the ads you see less relevant to your interests. If you erase cookies
    from your browser, use a different browser, or reset the ad identifier on your device, you may
    need to renew your opt-out choice. In addition, we may still collect data in browsers and apps
    for non-OBA purposes such as market research, reporting and development of our products and services.


</div>
<br />
<br />

<div>
    <b>Security</b>
</div>
<br />
<div>
    We maintain appropriate physical, electronic, and administrative safeguards to protect information collected online.
</div>
<br />
<br />

<div>
    <b>Third-Party Sites and Services</b>
</div>
<br />
<div>
    Our online services may contain links to third-party websites and other online services,
    which are not governed by this Code. We encourage you to learn about the privacy and security
    practices of those third parties. We are not responsible for the privacy or security of such
    websites and other online services, nor the online collection, use or sharing of personal or
    other information by third parties.
</div>
<br />
<div>
    <b>Updating Your Information (Customers)</b>
</div>
<br />
<div>
    The accuracy of your account information is important. If you have a financial product or
    service with Feya and you find that any personal information we have or have reported to
    another party does not appear to be accurate, please contact us:
</div>
<br />
<div>
    <div class="callout callout-info">
        <h4>Feya Office</h4>
        5308 Glencove ct,<br />
        Waxhaw NC 28173
    </div><br /><br />

    Please include your account number, if available.<br /><br />

    <b>Social Media</b><br />
    Feya participates in social media platforms, such as Facebook®, Twitter®; and
    LinkedIn®, which enable online sharing and collaboration among their users. Any
    information or other content you post on these platforms, such as pictures, opinions
    or personal information, is subject to the platforms' terms of use and privacy and
    security policies; please refer to their policies to better understand your rights
    and obligations with regard to such content.

</div>
<br />
<br />
<div>
    <b>Protecting Children's Online Privacy</b><br />
    Our online services are not intended for children under 18 years of age.
    We do not knowingly collect personal information from such children, or send
    them unsolicited promotions, without parental consent.

</div>
<br />
<br />
<div>
    <b>Visitors Residing Outside the United States</b><br />
    If you visit, use, view or interact with our online services, information about you and your
    computer(s) and mobile device(s) may be collected, stored, used and processed in and transferred to,
    from and within the United States. In such instances, applicable U.S. federal and state laws shall govern.
    If you are a non-U.S. resident, such laws may not provide the same level of protection as the
    laws of the country of your residence.

</div>
<br />
<br />
<div>
    <b>
        Contact Us
    </b><br />
    If you have any questions or comments on our Online Privacy Code, please contact us:<br /><br />

    <div class="callout callout-info">
        <h4>Feya Office</h4>
        5308 Glencove ct,<br />
        Waxhaw NC 28173
    </div><br /><br />


</div>