
@{
    ViewData["Title"] = "Rules & Instructions";
}

<h1>Rules</h1>
<br />

<div>
    1. You must be over 18 years old in order to participate.<br />
    2. Keep your wishes family-friendly.<br />
    3. Do not use offensive language.<br />
    4. Be respectful.<br />
    5. Enjoy the fairytale.<br />
</div>
<br />
<br />

<h1>Instructions</h1>
<br />

<div>
    1. Sign up<br />
    2. After you enter your nickname, first name, last name, email address, and password for your account and Role (Fairy or Cinderella) and click Sign up<br />
    3. Confirmation of registration via e-mail will be displayed on the screen.<br />
    4. Go to your mailbox and find the letter from the address of Dreamcomestrue@cfeya.com, it may get into the Spam folder, follow the link to confirm your account.<br />
    5. The link will lead to a page on the site that thanks you for confirming your email.<br />
    6. Log in to your account.<br />
    7. You will be taken to the Profile page.<br />
    8. Be sure to fill in the profile with the needed information and save it. Without this data, you will not be able to go further.<br /><br />

    Cinderella:<br />
    Click on the Story button and write your story (a couple of paragraphs about why you want something, or describe your circumstances and reasoning) then click the Save button.<br />
    Then, a window will appear on the screen for the wish itself. Briefly express what your wish is and save it by clicking the Save button.<br />
    In order for the wish to fall into the "Wishing Clouds", you will need to click the Submit button.<br />
    If you are not sure and, for any reason, may not want to send a wish for fulfillment right now, do not click submit.<br />
    In this case, your wish will be saved on your account and you will be able to Submit it later.<br />
    After the wish is written and Submitted, your personal dashboard will appear on the screen.<br /><br />
    DASHBOARD LEGEND:<br />
    Pending wishes - there are wishes that have been saved, but not submitted. By going there you will be able to submit your wish at any time.<br />
    Active wishes - wishes that have been sent for fulfillment there you can monitor the status of your wish.<br />
    Fulfilled wishes - in this category are all the fulfilled wishes.<br />

    You must confirm the fulfillment of your wish by changing the status of your wish to Received.<br />
    Enjoy.<br /><br />



    Fairy:<br />
    Click the Start button<br />
    Cinderella's wishes will appear on the screen (maximum 5)<br />
    you can choose any wish by clicking the Accept button or reject - Decline<br />
    When you're done selecting your wish to fulfill, click Close in the upper right corner.<br />
    The screen will display information about the wish, its author, and the status of its fulfillment which you will update<br />
    If for some reason you cannot fulfill the wish in whatever status it is, you can cancel its fulfillment by clicking the Cross at the end of the wish line.<br />
    the wish will fall back into the Wishing Clouds and perhaps another fairy will choose it.<br /><br />
    Statuses:<br />
    Discovered - means that you have chosen this wish to fulfill<br />
    Fulfilling - means that you have already started to complete (purchased, sent)<br />
    Completed - If you have received a two-stop delivery from the post office or delivery provider.<br />
    If you decide that you want to make another Cinderella happy In the right corner is the Discover more button clicking which will take you to the page with the new five wishes for pain.<br />
</div>


