
@{
    ViewData["Title"] = "Stories";
}

<h1>Stories</h1>

<div>
    <center>
        <h2>***</h2>
    </center>
    "My Dear Fairy!!!! Thank you so much for the Unexpected and Very Pleasant Surprise!!! In the morning I will drink coffee in a beautiful cup with my favorite chocolate bar... Oh, everything is so beautiful!!! So nice and joyful on the soul... Thank you!!!"
</div>
<br /><br />
<div>
    <center>
        <h2>***</h2>
    </center>
    "Hurrah!!!! And I received a parcel with little joy! Thank you very much my good fairy! How nice it is to receive gifts :)). I would like to know who my fairy is and personally say Thank you!!!!"
</div>
<br /><br />
    
<div>
    <center>
        <h2>***</h2>
    </center>
    "Thank you my fairy!
    I didn’t ask for anything specific - my soul just wanted a surprise 🙂
    Girls, it's so great that even now, in this crazy world and this huge country, you can find yourself in a fairy tale 🙂 it's great that complete strangers give each other joy and faith that humanity will not die out))) "
</div>
<br /><br />

<div>
    <center>
        <h2>***</h2>
    </center>
    " Magic. The morning started with a very pleasant and unexpected surprise! I open the door, and there is a beautiful bouquet from the Fairy! Yes, what, a lot of small multi-colored roses that smell amazing😍. They have already filled the room with fragrance. Honestly, I didn’t even sign up anywhere and it turned out that I still have my own Fairy. Thank you very much!!!"

</div>
<br /><br />

<div>
    <center>
        <h2>***</h2>
    </center>
    "Received! Received!!!  Fairy, you really exist!!! You exist!!!!!!!!!
    Last night, late in the evening, they called from the Front desk, and I immediately understood everything... I skipped off. I brought a box home, I don’t open it, I stretch out the pleasure))) I mentally prepared my family (so that there were no questions 😂), and, without breathing, I unpacked...
    I was jumping for joy the whole evening!!! Husband roars!  The children are jealous, I also want a gift from the fairy 😭 And I immediately put it on my neck. An angel in its place) I will not take it off, as well as my heart - a connection with my mother (she has a big heart with a recess for my little one), now there is a long-awaited angel, presented really with a soul, as I wanted! Also with a heart! Blue! Everything I love! Fairy, you guessed everything correctly, 100%, as if you were studying all of me! Happy!!!!! Thank you very much!!! And the day after tomorrow is my birthday ☺️☺️☺️ and I already have one present"

</div>

